.selector,
.toggle-btn {
  border-radius: 5px;
  margin-right: 0.75rem;
}

.mid-dash {
  color: #0098c6;
  margin-bottom: 2rem;
  .toggle-btn {
    img {
      vertical-align: middle;
      height: 40px;
      width: 40px;
    }
    padding-top: 2px;
  }
  .toggle-btn:active {
    box-shadow: none;
  }
  .mid-dash-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
  }
  .selector {
    background-color: white;
    padding: 0.75rem 0 0.85rem 0.75rem;
    width: 260px;
    display: inline-block;
  }
}
