.header-outer {
  margin-bottom: 2rem;
  display: flex;
}

.logo {
  margin-top: 1rem;
  width: 100px;
}

.titles {
  padding-right: 3rem;
  width: 50%;
  background-color: #deefff;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
}
