.header-outer {
  margin: 3.1rem 0;
  display: flex;
  display: flex;
  justify-content: space-between;
  margin-right: 2.5rem;
}

.title,
.search {
  border-radius: 7px;
}

.titles {
  font-size: 1.1rem;
  color: #1e647b;
  width: 50%;
  background-color: #deefff;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  div {
    margin-right: 2rem;
    padding-bottom: 0.2rem;
  }
  .title-image {
    height: 25px;
    vertical-align: text-bottom;
    margin-right: 0.2rem;
  }
}

.search {
  background-color: #e0e0e0;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  input {
    color: #6f6f6f;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    width: 50px;
  }
  .search-image {
    height: 28px;
    width: 28px;
    vertical-align: text-bottom;
  }
  .search-box {
    width: 80%;
  }
}
