.table-holder {
  margin-right: 2.5rem;
  background-color: #ffffff;
  border-radius: 7px;
  table {
    word-wrap: break-word;
    table-layout: fixed;
    width: 100%;
    font-size: 0.9rem;
  }
}

.table-head {
  tr:last-child {
    padding-right: 2rem;
  }
  th {
    border-bottom: 0.6px solid #696969;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    text-align: left;
  }
  .arrows {
    height: 22px;
  }
  .cell {
    img {
      vertical-align: text-bottom;
      margin-left: 0.3rem;
    }
  }
  .icon-cell {
    width: 3rem;
  }
  .small-cell {
    width: 3.5rem;
  }
  .med-cell {
    width: 5rem;
  }
  .large-cell {
    width: 8rem;
  }
  .sorted-by {
    color: #0098c6;
  }
}

.table-body {
  tr:nth-child(even) {
    background-color: #f6f8fc;
  }
  td {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    input[type='checkbox'] {
      margin-left: 1rem;
    }
  }
}

.align-left {
  text-align: left;
}
