.table-holder {
  margin-right: 2.5rem;
  background-color: #ffffff;
  border-radius: 7px;
  table {
    width: 100%;
  }
}

.table-head {
  tr:last-child {
    padding-right: 2rem;
  }
  th {
    border-bottom: 0.6px solid #696969;
    padding: 1.5rem 0.7rem;
  }
}

.table-body {
  tr:nth-child(even) {
    background-color: #f6f8fc;
  }
  td {
    padding: 1.5rem 0.7rem;
  }
}

.align-left {
  text-align: left;
}
