@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #6f6f6f;
  background-color: #f6f6f6;
}

.App {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-shadow {
  box-shadow: 4px 5px 5px 0px rgba(222, 222, 222, 1),
    -4px -5px 5px 0px rgba(222, 222, 222, 1);
}

.small-shadow {
  box-shadow: 2px 3px 3px 0px rgba(222, 222, 222, 1),
    -2px -3px 3px 0px rgba(222, 222, 222, 1);
}

input[type='text'] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #0098c6;
}

input[type='text']:focus {
  color: #0098c6;
}

input[type='checkbox'] {
  transform: scale(1.4);
  border: none;
}

button {
  border: none;
  background-color: white;
}

button:focus {
  outline: none;
}

input[type='text']:focus {
  outline: none;
}

table,
tbody,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
